:root {
    --backgroundColor: #fbf6f1;
    --accentColor: #724847;
    --secondaryBackgroundColor: #724847;
    --secondaryAccentColor: white;
}

body {
    background-color: var(--backgroundColor);
    color: var(--accentColor);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    background-color: var(--accentColor);
    color: var(--secondaryAccentColor);
    padding: 50px 100px;
    border-radius: 15px;
}

.inline {
    padding: 15px;
}

button {
    background-color: white;
    margin-left: 3px;
}

input,
button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 2px;
}